In [ ]:
import pandas as pd
import os
import numpy as np
import shutil

In [6]:
df = pd.read_csv("train.csv")
df.head()

          ID   Class
0    377.jpg  MIDDLE
1  17814.jpg   YOUNG
2  21283.jpg  MIDDLE
3  16496.jpg   YOUNG
4   4487.jpg  MIDDLE

In [17]:
file_names = list(df['ID'].values)
img_labels = list(df['Class'].values)

folders_to_be_created = list(np.unique(list(df['Class'])))

In [20]:
source = os.getcwd()

for new_path in folders_to_be_created:
    if not os.path.exists(".//" + new_path):
        os.makedirs(new_path)

        
folders = folders_to_be_created.copy()

In [23]:
for f in range(len(file_names)):

  current_img = file_names[f]
  current_label = img_labels[f]
  shutil.move("train/"+current_img, current_label)